<%= @request.cake.name %>

<% @messages.each do |message| %>
<%= message.content %> <br>
<% end %>

<div class="form">
  <%= simple_form_for [@request, @message] do |f| %>
    <%= f.input :content %>
    <%= f.button :submit, class: "cake-button" %>
    </div>
  <% end %>
  <br></br>
  <br></br>
</div>
