<!-- app/views/articles/_form.html.erb -->
<div class="form">
  <%= simple_form_for(cake) do |f| %>
    <%= f.input :name %>
    <%= f.input :available_slices %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file, require: true %>
    <%= f.input :requested_compensation %>
    <%= f.button :submit, class: "cake-button" %>
    </div>
  <% end %>
  <br></br>
  <br></br>
</div>
