<!-- app/views/articles/_form.html.erb -->
<div class="request-form">
  <%= simple_form_for [cake, request] do |f| %>
<div class="row justify-content-center mt-3">
    <div class=" row justify-space-around">
      <% @payments.each_with_index do |payment, i| %>
        <div class="label-<%=i+1%>"> <%=  payment %> </div>
      <% end %>
    </div>
  </div>
<br>
    <%= f.input :content, label: 'Write your maessage here' %>

    <%= f.button :submit, class: "request-button", value: 'Send' %>
    </div>
  <% end %>

