<!-- app/views/articles/_form.html.erb -->
<div class="request-form">
  <%= simple_form_for [cake, request] do |f| %>
<div class="row justify-content-center mt-3">
    <div class=" row justify-space-around">
      <% payments = [] %>
      <% @payments.each_with_index do |payment, i| %>
        <div class="label-<%=((i+1) % 2)+1 %> m-1"> <%=  payment %> </div>
        <% payments << payment %>
      <% end %>
    </div>
  </div>
<br>
    <%= f.input :compensation_offered, collection: payments, input_html: { multiple: false }  %>

    <%= f.input :content, label: 'Write your maessage here' %>

    <%= f.button :submit, class: "request-button", value: 'Send' %>
    </div>
  <% end %>

