<div class="container pl-3 py-3">
  <h1>Dashboard</h1>
  <h4>Hi <%= @user.email %> </h4>
  <h5>here you can see all your cakes and reuquests</h5>
</div>

<div class="container pl-5 py-3 bg-primary">
<h2>Your Cakes</h2>
</div>
<% @cakes.each do |cake| %>
<%= link_to cake_path(cake) do%>
  <div class="card-product pl-1">
    <% if cake.photo.attached? %>
      <%= cl_image_tag cake.photo.key, height: 300, width: 400, crop: :fill ,class: "img rounded"%>
    <% else %>
      <img src="https://images.squarespace-cdn.com/content/v1/59a2ccae6f4ca3e5e083e88f/1513817365291-66JTKOOZMX92XHITHXL5/ke17ZwdGBToddI8pDm48kKlCTFxidccknsm1vdd2hc9Zw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PIGrHOLo6PPE-cvgMUevVYsFUAYQrTS26zLAU8hbtgbMQKMshLAGzx4R3EDFOm1kBS/Kenwood_Jordan_Food%2829of32%29.jpg">
    <% end  %>
    <div class="card-product-infos">
      <h2><%= cake.name %></h2>
      <p><%= cake.description %></p>
      <p><%= cake.calculated_slices ? cake.calculated_slices : cake.available_slices %></p>
    </div>
  </div>
<% end %>
<div class="pl-3 pr-1">
  <% cake.requests.each do |request|%>


<div class="notification <%= request.status %> mt-1">
  <img src='https://images.unsplash.com/photo-1564228511783-821f2f547f44?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1364&q=80' class="avatar-large"/>
  <div class="notification-content">
    <p><small> <%= request.user.email %> </small></p>
    <p> <%= request.content %></p>
    <div class='border-left border-primary pl-2'>
      <p> <%= request.compensation_offered %></p>
    </div>
  </div>
  <div class="notification-actions">
    <div class="border-right text-center pr-2 mr-2"><p> <strong><%= request.requested_slices %></strong>  slices</p></div>
    <%= link_to "messages", new_request_message_path(request) %>
    <%= link_to "accept", accept_path(request), method: :patch %>
    <%= link_to "decline", decline_path(request), method: :patch %>
  </div>
</div>

<% end %>
</div>
<% end %>

<div class="container pl-5 py-3 my-3 border-bottom bg-primary">
  <h2>Cakes You requested</h2>
</div>

<div class="px-1">
  <% @requests.each do |request|%>


<div class="notification <%= request.status %> mt-1">
  <% if request.cake.photo.attached? %>
      <%= cl_image_tag request.cake.photo.key, height: 50, width: 50, crop: :fill ,class: "img rounded"%>
    <% else %>
      <img src="https://images.squarespace-cdn.com/content/v1/59a2ccae6f4ca3e5e083e88f/1513817365291-66JTKOOZMX92XHITHXL5/ke17ZwdGBToddI8pDm48kKlCTFxidccknsm1vdd2hc9Zw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PIGrHOLo6PPE-cvgMUevVYsFUAYQrTS26zLAU8hbtgbMQKMshLAGzx4R3EDFOm1kBS/Kenwood_Jordan_Food%2829of32%29.jpg" class="avatar-large">
    <% end  %>
  <div class="notification-content">
    <p><small> <%= request.cake.name %> </small></p>
    <p> <%= request.content %></p>
    <div class='box'>
      <p> <%= request.compensation_offered %></p>
    </div>
  </div>
  <div class="">
    <%= request.status %>
  </div>
</div>

<% end %>
</div>

<br>
<br>
<br>
<br>
