<div class="navbar justify-content-between sticky-top " >
   <div class="d-flex">
    <form class="form-inline">
      <%= link_to new_cake_path, { class: "login-button-nav hover", style: "text-decoration:none;" }  do %>
        <span>
        <i class="fas fa-heart mr-2"></i>
        Add Cake
        </span>
      <% end %>
    </form>
  </div>
<%= link_to cakes_path do %>
    <div class="d-flex" id="icon">
      <div class="d-flex">
          <span class="label label-primary ml-4 mr-2"> <i class="fas fa-birthday-cake"></i> </span>
      </div>
      <h1 class="label-success mt-3"> Crazy Cakes</h1>
    </div>
  <% end %>



  <div class="d-flex ml-4">
    <!-- <i class="fas fa-search icon mr-4 m-2"></i> -->

    <% if user_signed_in? %>
      <!--  <p class="btn btn-outline-danger align-self-end"> <%= link_to('Logout', destroy_user_session_path, method: :delete) %> </p> -->
      <form class="form-inline">
        <%= link_to destroy_user_session_path, { class: "login-button-nav hover", method: "delete",  style: "text-decoration:none;" } do %>
          <span>Logout</span>
        <% end %>
      </form>
    <% else %>
      <form class="form-inline">
        <%= link_to new_user_session_path, { class: "login-button-nav hover",  style: "text-decoration:none;" } do %>
          <span>Login</span>
       <% end %>
      </form>
    <% end %>
  </div>
</div>

