<!DOCTYPE html>
<html>
  <head>
    <title>CuriousCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

<body class="bg-dark" style="background-image: url(<%= asset_path('cake2.jpg') %>); background-attachment: fixed; width: 100vw">
    <%= render '/layouts/navbar' %>
    <div class="d-flex">
  <form class="form-inline ml-4 mr-4">
    <%= link_to cakes_path, { class: "btn btn-success" } do %>
  <span class="label label-success">All Cakes</span>
<% end %>
</form>
  <form class="form-inline">
    <%= link_to new_cake_path, { class: "btn btn-outline-success" } do %>
  <span class="label label-success">Add a Cake</span>
<% end %>
</form>
</div>
</nav>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
